<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="javaCompilerVersion=17"/>
        <listEntry value="junitVersion=5.11.0"/>
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.5"/>
        <listEntry value="groupId=com.leyre.romero"/>
        <listEntry value="artifactId=PSP-Proyecto-Tamagotchis"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.leyre.romero.PSP_Proyecto_Tamagotchis"/>
        <listEntry value="outputDirectory=C:\Users\leyre\Desktop\DAM 2 25-26\PSP\Tamagotchis"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\leyre\AppData\Local\Temp\m2e-archetypeGenerator388832109955991455"/>
</launchConfiguration>
